/* Resetowanie styli  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

body {
  font-family: "Catamaran", "Arial", sans-serif;
  color: rgb(36, 33, 33);
}
img {
  width: 100%;
}
/* typografia */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 0.8;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Catamaran", "Arial", sans-serif;
  font-weight: 20;
}
h2 {
  font-size: 50px;
  margin-bottom: 40px;
}
h3 {
  font-size: 30px;
}
h2,
h3 {
  font-weight: 100;
}
p {
  font-size: 15px;
}
li {
  list-style: none;
}

/* stylowanie sekcji */
.container {
  width: 90%;
  margin: 0 auto;
}
#interest {
  background: rgb(3, 105, 105);
  color: #ffffff;
}
section {
  padding: 80px 20px;
}
#quote {
  background: rgb(235, 148, 85);
  color: #ffffff;
}
/* stylowanie headera */

header {
  padding: 60px 20px;
  background-image: url("../images/DSC02220-2-Enhanced-NR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  color: darkslategrey;
}
/* stylowanie logo */
.logo-style {
  color: darkslategrey;
  font-size: 40px;
  font-family: "Montserrat";
}
/* stylowanie menu mobilnego */
.burger-menu,
.close-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.close-menu svg {
  fill: darkslategrey;
  width: 30px;
  height: 30px;
}
.open {
  display: block;
}

/* stylowanie nawigacji */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.nav-menu {
  max-width: 400px;
  min-width: auto;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.nav-menu a:hover {
  font-weight: 700;
}
/* stylowanie tekstu */
.header-text {
  max-width: 700px;
}
.header-text p {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 15px;
}
.header-text a {
  padding: 5px 10px;
  border: 2px solid#ffffff;
}
.header-text a:hover {
  font-weight: 700;
}
/* stylowanie sekcji about */
.about-wraper {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-column-left,
.about-column-right {
  max-width: 45%;
}
/* stylowanie zdjęcia  */

.about-column-left img {
  width: 100%;
}
/* stylowanie prawej kolumny */
.about-column-right h2 {
  color: darkslategray;
  margin-bottom: 20px;
}
.about-introduction {
  font-weight: 600;
  margin-bottom: 20px;
}
/* stylowanie sekcji zainteresowania */
#interest ul {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  text-align: center;
  color: #ffffff;
}
#interest li {
  max-width: 300px;
}
#interest h3 {
  margin-bottom: 20px;

  /* stylowanie sekcji zainteresowania - ikony */
}
#interest svg {
  width: 50px;
  height: 50px;
  transform: translateY(25%);
}
#interest ul div {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
}
/* stylowanie sekcji zdjęć */
#photos {
  text-align: center;
}
#photos h2 {
  color: darkcyan;
  margin-bottom: 20px;
}
#photos p {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 500px;
}
.photos-gallery {
  display: grid;
  column-gap: 50px;
  grid-template-areas:
    "foto1 foto2 foto3"
    "foto1 foto2 foto3"
    "foto4 foto4 foto5";
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around; */
}
.foto1 {
  grid-area: foto1;
}
.foto2 {
  grid-area: foto2;
}
.foto3 {
  grid-area: foto3;
}
.foto4 {
  grid-area: foto4;
}
.foto5 {
  grid-area: foto5;
}
/* padding: 0 0 4rem 0;
}
.img-container {
  width: 100%;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
  &:hover .img-content-hover {
    display: block;
  }
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.img-content-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  display: none;
  padding: 1rem;
  background: white;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-left: -2rem;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}
.img-content {
  display: none;
} */
/* .photos-gallery figure {
  max-width: 22%;
  min-width: 150px;
}
#photos.photos-gallery figcaption {
  font-size: 12px;
  margin-bottom: 20px;
} */
.quote-wraper {
  display: flex;
}
.quote-wraper div {
  height: 75px;
  transform: translateY(25%);
}
.quote-icon {
  width: 75px;
  height: 75px;
  fill: #672e09;
}

blockquote p {
  margin-bottom: 10px;
}
blockquote footer {
  text-align: right;
}

/* stylowanie sekcji kontakt */

#contact form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 500px;
}
#contact h2 {
  text-align: center;
  margin-bottom: 50px;
  color: darkcyan;
}
#contact form label {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}
.contact-input {
  margin-bottom: 16px;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid darkslategray;
}
#contact form button {
  margin: 0 auto;
  width: 100px;
  padding: 10px;
  background-color: cadetblue;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid cadetblue;
}
#contact form button:hover {
  background-color: #ffffff;
  color: rgb(235, 148, 85);
}
/* Stylowanie footera */
.footer {
  background-color: #cec8c5;
  color: #ffffff;
  padding: 60px 20px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
/* muszę SPRAWDZIĆ w html klasę dla icon i text container */
.footer-icon-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-end;
}
.footer-icon-container a {
  height: 40px;
}
.footer-text-container {
  min-width: width 200px;
}
.footer-text-container p {
  margin-bottom: 16px;
}
.footer-text-container p:last-of-type {
  margin-bottom: 0;
}
/* Dostosowanie stylowania do mobile */
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 40px;
    max-width: 220px;
  }
  .about-column-right {
    max-width: 100%;
  }
  .about-column-left {
    max-width: 100%;
  }
  .nav-menu {
    display: none;
    width: auto;
  }
  .menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-menu li {
    text-align: right;
    margin-bottom: 10px;
  }
  .burger-menu {
    display: block;
  }
  .open {
    display: block;
  }
  .hidden {
    display: none;
  }
}
